docker.enabled = true
report.enabled=true
//process.executor = 'pbs'

process{
    containerOptions='--volume /DG/database:/DG/database'
    echo = true
    //queue = 'nextflow'
}
mail {
    from = 'system@decodegenomics.com'
    smtp.host = 'smtp.decodegenomics.com'
    smtp.port = 25
    smtp.user = 'system@decodegenomics.com'
    smtp.password = 'T8SFuUg2'
    smtp.auth = true
}
conda{
    cacheDir='/DG/programs/beta/rel/anaconda2/envs'
}